<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>My Fav Authors</title>
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container">
    <h1>Edit Author</h1>
    <div class="row">
      <%- include('messages') %>
      
      <form method="post" action="/authors/<%= author.id %>?_method=PUT" class="col-md-4">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" id="firstname" class="form-control" placeholder="First name" value="<%= author.firstname %>">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Last name" value="<%= author.lastname %>">
        </div>
        <input type="hidden" name="id" value="<%= author.id %>">
        <input type="submit" class="btn btn-default">
      </form>
    </div>
  </div>

  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
